<%= bootstrap_form_for(task) do |f| %>


    <%= f.collection_select(:business_process_id, BusinessProcess.all, :id, :description, prompt: 'Select a BP') %>

    <%= f.collection_select(:route_id, Route.all, :id, :title, prompt: 'Select a route') %>

    <%= f.collection_select(:route_point_id, RoutePoint.all, :id, :description, prompt: 'Select a route point') %>
  
    <%= f.collection_select(:performer_id, User.all, :id, :name, prompt: 'Select an performer') %>

    <%= f.collection_select(:executor_id, User.all, :id, :name, prompt: 'Select an executer') %>

    <% if BusinessProcess.find_by(id: task.business_process_id).file_id %>
      <h4><%= link_to 'Download file', download_path(BusinessProcess.find_by(id: task.business_process_id).file_id), disable_with: 'Downloading...' %></h4>
    <% else %>
      <h4> No file </h4>
    <% end %>



    <%= f.text_area :comment, rows: 6 %>


  <% if task.id then %>

      <%= f.check_box :executed %>

    <% if task.executed %>

        <%= f.datetime_local_field :execution_date %>

    <% end %>
  <% end %>


    <%= f.submit %>

<% end %>
