<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<%= bootstrap_form_for(route) do |f| %>

    <%= f.text_field :title, help: "Must be at least 3 characters long" %>

    <%= f.text_area :description, rows: 6 %>

    <%= f.collection_select(:author_id, User.all, :id, :name, prompt: 'Select an author') %>

    
    <%= f.submit %>
 
<% end %>
