<%= bootstrap_form_for(@business_process) do |f| %>

  <div class="field">
    <%= f.text_area :description, rows: 6, :disabled=>true %>
  </div>

  <div class="field">
    <%= f.collection_select(:route_id, Route.where(id: @business_process.route_id), :id, :title, :disabled=>true) %>
  </div>
  <% if @business_process.id then %>
    <div class="field">
      <%= f.check_box :executed, :disabled=>true %>
    </div>

    <div class="field">
      <%= f.datetime_local_field :execution_date, :disabled=>true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.collection_select(:file_id, Document.where(id: @business_process.file_id), :id, :filename, :disabled=>true) %>
    <% if @business_process.file_id %>
    <%= link_to 'Download', download_path(@business_process.file_id), disable_with: 'Downloading...' %>
    <% end %>
  </div>

  <div class="field">
    <%= f.collection_select(:author_id, User.where(id: @business_process.author_id), :id, :name, :disabled=>true) %>
  </div>

  <%= link_to 'Edit', edit_business_process_path(@business_process) %> |
  <%= link_to 'Back', business_processes_path %>
  
<% end %>
