<!DOCTYPE html>
<html>
<head>
  <title>DocFlow</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <span class="title"><%= @page_title || "Final CS50" %></span>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to 'Home', store_index_path %></li>
        <li><a href="http://www..../documentation">Documentation</a></li>
        <li><a href="http://www..../design">Design</a></li>
        <li><a href="http://www..../screencast">Screencast</a></li>
        <% if User.count.zero? %>
          <li><%= link_to 'Users', controller: 'users' %></li>
        <% end %>
      </ul>
      <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'My tasks', store_index_path %></li>
          <li><%= link_to 'All tasks', controller: 'tasks' %></li>
          <li><%= link_to 'Files', controller: 'documents' %></li>
          <li><%= link_to 'Resumes', controller: 'resumes' %></li>
          <li><%= link_to 'Routes', controller: 'routes' %></li>
          <li><%= link_to 'Route points', controller: 'route_points' %></li>
          <li><%= link_to 'Bus. proc.', controller: 'business_processes' %></li>
          <% if User.find_by(id: session[:user_id], admin: true) %>
            <li><%= link_to 'Users', controller: 'users' %></li>
          <% end %>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete %>
      <% end %>
      
    </div>
    <div id="main" style = "padding-top:20px;">
      <%= yield %>
    </div>
  </div>
</body>
</html>
