<!DOCTYPE html>
<html>
<head>
  <title>Your Tasks</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <span class="title"><%= @page_title || "Final CS50" %></span>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to 'Home', store_index_path %></li>
        <li><a href="http://www..../faq">Questions</a></li>
        <li><a href="http://www..../news">News</a></li>
        <li><a href="http://www..../contact">Contact</a></li>
      </ul>
      <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Tasks', controller: 'tasks' %></li>
          <li><%= link_to 'Routes', controller: 'routes' %></li>
          <li><%= link_to 'Route points', controller: 'route_points' %></li>
          <li><%= link_to 'Bus. proc.', controller: 'business_processes' %></li>
          <li><%= link_to 'Users', controller: 'users' %></li>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete %>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
